.MessageContainer{
    /*width: 505px;*/
    background: var(--main-color);
}

.MessageText{
    padding: 5px;
}

.MessageReactionsContainer{
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    background: var(--page-background);
    width: 120px;
    border-radius: 25px;
    margin: 5px;

}

@media (max-width: 505px) {
    .MessageContainer{
        width: 100%;
    }
}

/* /register (username, email, password)  */
/* /login (username or email, password)  */
/* /me (username or email, password)  */