.footer {
    width: 100%;
    max-width: 505px; /* Ограничиваем максимальную ширину */
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); /* Центрируем относительно экрана */
    background-color: var(--main-color);
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
}


.buttonsContainer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%;
}

.buttonHome{
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: initial;
    bottom: 2px;
    margin-bottom: 10px;
}

.linksList{
    /*width: 100px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttonHome button{
    padding: 10px;
    background: var(--main-color);
    margin-bottom: 10px;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    && img{
        width: 35px;
    }
}

.buttonLink{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    && img{
        margin: 0 auto;
        width: 30px;
    }
}

@media (max-width: 505px) {
    .footer{
        width: 100%;
    }
}