.container{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}

.content{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;

    width: 100%;
    max-width: 420px;   /* добавить */

    padding: 40px;
    background: var(--main-color);
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.content h2{
    font-size: 2rem;
    font-weight: bold;
}

.content form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.inputs{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.changeAction{
    color: var(--brand-color);
    margin-left: 5px;
}