.container{
    width: 100%;
    height: 90vh;
}

.form{
    height: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form textarea{
    padding: 10px;
    width: 100%;
    border: 3px solid var(--brand-color);
    resize: vertical;
}